	body {
		background-color:gray;
		color: white;
	}
	h1 {
		text-align: center;
		color: red;
	}
	p {
		color: white;
		margin-left: 10%;
	}
	.para1 {
		color: red;
		margin: 5%;
	}
	#para2 {
		color: blue;
		margin: 15% 5%;
	}